<aside class="profile">
  <%= render 'shared/user_info' %>
  <ul>
    <li><%= link_to "仲間を探す", users_path %>
    <li><%= link_to "コミュニティを作る", "/create_group" %></li>
    <li><%= link_to "コミュニティを探す", groups_path %></li>
    <li><%= link_to "主催コミュニティ", "#" %></li>
    <li><%= link_to "所属コミュニティ", "#" %></li>
  </ul>
</aside>
