<% provide(:title, @group.name) %>
<% provide(:page, "group") %>
<% provide(:page_name, "新しくコミュニティを作る") %>
<% provide(:submit_name, "コミュニティ作成") %>

<div class="group">
  <li><%= @group.name %></li>
  <li><%= @group.habit %></li>
  <li><%= @group.overview %></li>
  <li>主催者：<%= link_to @group.user.name, user_path(@group.user) %></li>
  <li><%= link_to "メンバー", member_group_path(@group) %></li>
  <li><%= react_component("Belong", {path: belong_path(@group), belong: current_user.belonging?(@group)}) %></li>
  <% if current_user.belonging?(@group) %>
    <li><%= react_component("Achievement", {path: achievement_path(@group), achieve: current_user.achieved?(@group)}) %></li>
  <% end %>
  <% if @group.owner?(current_user) %>
    <li><%= link_to "編集する", edit_group_path(@group) %></li>
    <li><%= link_to "画像変更する", edit_image_group_path(@group) %></li>
    <li><%= link_to "削除する", delete_group_path(@group) %></li>
  <% end %>
</div>
