<div class="row form">

  <%= form_with(model: @user, local: true) do |f| %>

    <%= hidden_field_tag :edit_element, "profile" %>

    <div class="col-md-8 col-md-offset-2">
      <h2><%= yield(:page_name) %></h2>
      <%= render 'shared/error_messages', object: f.object %>

      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <%= f.label :name, "ユーザ名" %>
      <%= f.text_field :name, class: "form-controll"%>

      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "form-controll" %>

      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      <%= f.label :introduction, "自己紹介" %>
      <%= f.text_area :introduction, class: "form-controll" %>

      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-controll" %>

      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, class: "form-controll" %>
    </div>

    <div class="col-md-6 col-md-offset-3 submit">
      <%= f.submit yield(:submit_name), class: "btn btn-primary" %>
      <% if !logged_in? %>
        <a href="/login_guest">
          <button class="btn btn-secondaly">ゲストユーザでログイン</button>
        </a>
      <% end %>
    </div>

  <% end %>

</div>
