<div class="describe">
  <div class="head">
    <div class="menu">
    <%= image_tag(attached_image(@user)) %>
      <ol>
        <li><h3><%= @user.name %></h3></li>
        <li><%= link_to "フォロー", "#" %></li>
        <li><%= link_to "フォロワー", "#" %></li>
        <li><%= link_to "主催コミュニティ", owning_user_path(@user) %></li>
        <li><%= link_to "参加コミュニティ", belonging_user_path(@user) %></li>
      </ol>
    </div>
  </div>
  <div class="body">
    <h3>自己紹介</h3>
    <p><%= @user.introduction %></p>
  </div>
</div>
