<% provide(:title, @user.name) %>

<div class="user-profile">
  <% if current_user?(@user) %>
    <% provide(:page, "user_show") %>
    <%= render 'shared/feed_items' %>
    <%= will_paginate @feed_items %>
  <% else %>
    <% provide(:page, "group") %>
    <li><%= @user.name %></li>
    <li><%= link_to "フォロー", "#" %></li>
    <li><%= link_to "フォロワー", "#" %></li>
    <li><%= link_to "主催コミュニティ", owning_user_path(@user) %></li>
    <li><%= link_to "参加コミュニティ", belonging_user_path(@user) %></li>
    <li>自己紹介：<%= @user.introduction %></li>
  <% end %>
</div>
