<% provide(:title, @user.name) %>

<div class="user-profile">
  <% if current_user?(@user) %>
    <% provide(:page, "user_show") %>
    <div class="row">
      <div class="col-sm-5">
        <%= react_component("AchieveCalendar", { history: @history, token: create_authenticity_token }) %><br />
      </div>
      <div class="col-sm-7">
        <%= react_component("AchievedInformation", { notAchieved: current_user.not_achieved,
                                                     path: not_achieved_user_path(current_user),
                                                     token: create_authenticity_token }) %>
        <%= react_component("EncouragedInformation", { encouraged: current_user.encouraged,
                                                       path: encouraged_user_path(current_user),
                                                       token: create_authenticity_token }) %>
      </div>
    </div>
  <% else %>
    <% provide(:page, "group") %>
    <%= react_component("UserIntroduction", { relationship_path: relationship_path(@user),
                                              follow: current_user.following?(@user),
                                              active_following_count: current_user.following.count,
                                              active_followers_count: current_user.followers.count,
                                              passive_following_count: @user.following.count,
                                              passive_followers_count: @user.followers.count,
                                              user_image: attached_image(@user),
                                              user_name: @user.name,
                                              following_path: following_user_path(@user),
                                              followers_path: followers_user_path(@user),
                                              owning_path: owning_user_path(@user),
                                              belonging_path: belonging_user_path(@user),
                                              user_introduction: @user.introduction,
                                              token: create_authenticity_token,
                                              message_path: message_path(@user),
                                              history: @history,
                                              admin: current_user.admin?,
                                              edit_user_path: edit_user_path(@user),
                                              edit_image_user_path: edit_image_user_path(@user),
                                              delete_user_path: delete_user_path(@user),
                                              like_feeds_path: like_feeds_user_path(@user) }) %>
  <% end %>
  <div class="title"><h3>タイムライン</h3></div>
  <%= render 'shared/feed_items' %>
  <%= will_paginate @feed_items %>
</div>
