<% provide(:title, @user.name) %>

<div class="user-profile">
  <% if current_user?(@user) %>
    <% provide(:page, "user_show") %>
    activity
  <% else %>
    <% provide(:page, "group") %>
    <li><%= @user.name %></li>
    <li><%= link_to "フォロー", "#" %></li>
    <li><%= link_to "フォロワー", "#" %></li>
    <li><%= link_to "主催コミュニティ", owning_user_path(@user) %></li>
    <li><%= link_to "所属コミュニティ", belonging_user_path(@user) %></li>
  <% end %>
</div>
