<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | HabitApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= react_component("Header") %>
    <div class="container">
      <%= yield %>
      <%= react_component("Footer") %>
      <%= debug(:params) if Rails.env.development? %>
    </div>
  </body>
</html>
