<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | HabitApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
    <% if logged_in? %>
      <%= react_component("Header", { logged_in: logged_in?,
                                      root_path: user_path(current_user),
                                      user_name: current_user.name,
                                      user_image: attached_image(current_user),
                                      user_path: user_path(current_user),
                                      edit_user_path: edit_user_path(current_user),
                                      users_path: users_path,
                                      groups_path: groups_path,
                                      owning_path: owning_user_path(current_user),
                                      belonging_path: belonging_user_path(current_user),
                                      create_group_path: "/create_group",
                                      notification: current_user.notification,
                                      notification_path: notification_path(current_user),
                                      token: create_authenticity_token }) %>
    <% else %>
      <%= react_component("Header", { logged_in: logged_in?,
                                      root_path: root_path,
                                      user_path: nil,
                                      edit_user_path: nil,
                                      notification: {count: 0},
                                      token: create_authenticity_token }) %>
    <% end %>
    <div id="main">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <% if logged_in? %>
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <%= render('shared/sidebar') %>
            </div>
            <div class="col-md-9">
              <%= yield %>
            </div>
          </div>
        <div>
      <% else %>
        <%= yield %>
      <% end %>
      <%= react_component("Footer", token: create_authenticity_token) %>
      <%= debug(:params) if Rails.env.development? %>
    </div>
  </body>
</html>
