<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | HabitApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
    <% if logged_in? %>
      <%= react_component("Header", { logged_in: logged_in?,
                                      root_path: user_path(current_user),
                                      user_path: user_path(current_user),
                                      edit_user_path: edit_user_path(current_user),
                                      groups_path: groups_path }) %>
    <% else %>
      <%= react_component("Header", { logged_in: logged_in?,
                                      root_path: root_path,
                                      user_path: nil,
                                      edit_user_path: nil }) %>
    <% end %>
    <div id="main">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <% if logged_in? %>
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <%= render('shared/sidebar') %>
            </div>
            <div class="col-md-9">
              <%= yield %>
            </div>
          </div>
        <div>
      <% else %>
        <%= yield %>
      <% end %>
      <%= react_component("Footer") %>
      <%= debug(:params) if Rails.env.development? %>
    </div>
  </body>
</html>
